In [1]:
import findspark
findspark.find()
findspark.init()
import pyspark
findspark.find()

'/opt/spark/python/pyspark'

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('lab2').getOrCreate()

22/04/05 21:20:48 WARN Utils: Your hostname, eternal resolves to a loopback address: 127.0.1.1; using 192.168.0.109 instead (on interface wlp0s20f3)
22/04/05 21:20:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/04/05 21:20:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
textRdd = spark.sparkContext.textFile("/home/eternal/bigData/Data/class3Data.txt").flatMap(lambda x: x.split(" "))

In [16]:
textRdd.collect()

['Big',
 'Data',
 'refers',
 'to',
 'a',
 'massive',
 'set',
 'of',
 'data',
 'that',
 'no',
 'conventional',
 'data',
 'management',
 'tool',
 'can',
 'handle.',
 'Big',
 'Data',
 'is',
 'therefore',
 'a',
 'concept',
 'that',
 'allows',
 'access',
 'to',
 'gigantic',
 'databases',
 'in',
 'real',
 'time.',
 'Big',
 "Data's",
 'main',
 'objectives',
 'are',
 'to',
 'improve',
 'a',
 "company's",
 'or',
 "system's",
 'responsiveness',
 'to',
 'a',
 'large',
 'amount',
 'of',
 'data',
 'collected,',
 'increase',
 'productivity',
 'and',
 'refine',
 'knowledge',
 'of',
 'customer',
 'behavior,',
 'so',
 'that',
 'it',
 'can',
 'offer',
 'personalized',
 'offers',
 'or',
 'advertisements',
 'and',
 'create',
 'new',
 'trends.',
 '',
 'The',
 'Internet',
 'of',
 'Things',
 '(IoT)',
 'is',
 'a',
 'concept',
 'that',
 'connects',
 'physical',
 'or',
 'virtual',
 'objects',
 'to',
 'the',
 'internet.',
 'The',
 'technology',
 'very',
 'often',
 'used',
 'is',
 'the',
 'sensor,',
 'allowing',
 'to',
 'link',
 'a',
 'physical',
 'object',
 'such',
 'as',
 'a',
 'watch,',
 'a',
 'drone',
 'or',
 'even',
 'a',
 'speaker,',
 'to',
 'the',
 'internet.',
 'If',
 'for',
 'a',
 'long',
 'time',
 'the',
 'few',
 'objects',
 'connected',
 'to',
 'the',
 'Internet',
 'were',
 'the',
 'telephone',
 'and',
 'the',
 'computer,',
 'this',
 'is',
 'no',
 'longer',
 'the',
 'case',
 'today',
 'and',
 'every',
 'year',
 'new',
 'types',
 'of',
 'objects',
 'incorporating',
 'IOT',
 'technology',
 'are',
 'born.',
 'IOT',
 'is',
 'one',
 'of',
 'the',
 'greatest',
 'technological',
 'revolutions',
 'of',
 'our',
 'era',
 'and',
 'its',
 'potential',
 'for',
 'exploitation',
 'is',
 'immense.',
 'IOT',
 'could',
 'have',
 'a',
 'huge',
 'impact',
 'on',
 'the',
 'cars',
 'of',
 'the',
 'future',
 'or',
 'on',
 'the',
 'new',
 'versions',
 'of',
 'smart-cities,',
 'an',
 'urban',
 'space',
 'connected',
 'to',
 'the',
 'Internet,',
 'thus',
 'significantly',
 'improving',
 'the',
 'lives',
 'of',
 'users,',
 'while',
 'reducing',
 'the',
 'negative',
 'impact',
 'of',
 'these',
 'on',
 'the',
 'planet.']

In [17]:
textRdd.map(lambda x: (x,1)).collect()

[('Big', 1),
 ('Data', 1),
 ('refers', 1),
 ('to', 1),
 ('a', 1),
 ('massive', 1),
 ('set', 1),
 ('of', 1),
 ('data', 1),
 ('that', 1),
 ('no', 1),
 ('conventional', 1),
 ('data', 1),
 ('management', 1),
 ('tool', 1),
 ('can', 1),
 ('handle.', 1),
 ('Big', 1),
 ('Data', 1),
 ('is', 1),
 ('therefore', 1),
 ('a', 1),
 ('concept', 1),
 ('that', 1),
 ('allows', 1),
 ('access', 1),
 ('to', 1),
 ('gigantic', 1),
 ('databases', 1),
 ('in', 1),
 ('real', 1),
 ('time.', 1),
 ('Big', 1),
 ("Data's", 1),
 ('main', 1),
 ('objectives', 1),
 ('are', 1),
 ('to', 1),
 ('improve', 1),
 ('a', 1),
 ("company's", 1),
 ('or', 1),
 ("system's", 1),
 ('responsiveness', 1),
 ('to', 1),
 ('a', 1),
 ('large', 1),
 ('amount', 1),
 ('of', 1),
 ('data', 1),
 ('collected,', 1),
 ('increase', 1),
 ('productivity', 1),
 ('and', 1),
 ('refine', 1),
 ('knowledge', 1),
 ('of', 1),
 ('customer', 1),
 ('behavior,', 1),
 ('so', 1),
 ('that', 1),
 ('it', 1),
 ('can', 1),
 ('offer', 1),
 ('personalized', 1),
 ('offers', 1),
 ('or', 1),
 ('advertisements', 1),
 ('and', 1),
 ('create', 1),
 ('new', 1),
 ('trends.', 1),
 ('', 1),
 ('The', 1),
 ('Internet', 1),
 ('of', 1),
 ('Things', 1),
 ('(IoT)', 1),
 ('is', 1),
 ('a', 1),
 ('concept', 1),
 ('that', 1),
 ('connects', 1),
 ('physical', 1),
 ('or', 1),
 ('virtual', 1),
 ('objects', 1),
 ('to', 1),
 ('the', 1),
 ('internet.', 1),
 ('The', 1),
 ('technology', 1),
 ('very', 1),
 ('often', 1),
 ('used', 1),
 ('is', 1),
 ('the', 1),
 ('sensor,', 1),
 ('allowing', 1),
 ('to', 1),
 ('link', 1),
 ('a', 1),
 ('physical', 1),
 ('object', 1),
 ('such', 1),
 ('as', 1),
 ('a', 1),
 ('watch,', 1),
 ('a', 1),
 ('drone', 1),
 ('or', 1),
 ('even', 1),
 ('a', 1),
 ('speaker,', 1),
 ('to', 1),
 ('the', 1),
 ('internet.', 1),
 ('If', 1),
 ('for', 1),
 ('a', 1),
 ('long', 1),
 ('time', 1),
 ('the', 1),
 ('few', 1),
 ('objects', 1),
 ('connected', 1),
 ('to', 1),
 ('the', 1),
 ('Internet', 1),
 ('were', 1),
 ('the', 1),
 ('telephone', 1),
 ('and', 1),
 ('the', 1),
 ('computer,', 1),
 ('this', 1),
 ('is', 1),
 ('no', 1),
 ('longer', 1),
 ('the', 1),
 ('case', 1),
 ('today', 1),
 ('and', 1),
 ('every', 1),
 ('year', 1),
 ('new', 1),
 ('types', 1),
 ('of', 1),
 ('objects', 1),
 ('incorporating', 1),
 ('IOT', 1),
 ('technology', 1),
 ('are', 1),
 ('born.', 1),
 ('IOT', 1),
 ('is', 1),
 ('one', 1),
 ('of', 1),
 ('the', 1),
 ('greatest', 1),
 ('technological', 1),
 ('revolutions', 1),
 ('of', 1),
 ('our', 1),
 ('era', 1),
 ('and', 1),
 ('its', 1),
 ('potential', 1),
 ('for', 1),
 ('exploitation', 1),
 ('is', 1),
 ('immense.', 1),
 ('IOT', 1),
 ('could', 1),
 ('have', 1),
 ('a', 1),
 ('huge', 1),
 ('impact', 1),
 ('on', 1),
 ('the', 1),
 ('cars', 1),
 ('of', 1),
 ('the', 1),
 ('future', 1),
 ('or', 1),
 ('on', 1),
 ('the', 1),
 ('new', 1),
 ('versions', 1),
 ('of', 1),
 ('smart-cities,', 1),
 ('an', 1),
 ('urban', 1),
 ('space', 1),
 ('connected', 1),
 ('to', 1),
 ('the', 1),
 ('Internet,', 1),
 ('thus', 1),
 ('significantly', 1),
 ('improving', 1),
 ('the', 1),
 ('lives', 1),
 ('of', 1),
 ('users,', 1),
 ('while', 1),
 ('reducing', 1),
 ('the', 1),
 ('negative', 1),
 ('impact', 1),
 ('of', 1),
 ('these', 1),
 ('on', 1),
 ('the', 1),
 ('planet.', 1)]

In [18]:
textRdd.map(lambda x: (x,1)).reduceByKey(lambda a,b : a+b).collect()

[('refers', 1),
 ('massive', 1),
 ('set', 1),
 ('of', 11),
 ('no', 2),
 ('conventional', 1),
 ('management', 1),
 ('is', 6),
 ('in', 1),
 ("Data's", 1),
 ('objectives', 1),
 ('are', 2),
 ('improve', 1),
 ("company's", 1),
 ("system's", 1),
 ('large', 1),
 ('amount', 1),
 ('collected,', 1),
 ('increase', 1),
 ('knowledge', 1),
 ('customer', 1),
 ('personalized', 1),
 ('offers', 1),
 ('new', 3),
 ('', 1),
 ('The', 2),
 ('Things', 1),
 ('(IoT)', 1),
 ('connects', 1),
 ('internet.', 2),
 ('technology', 2),
 ('very', 1),
 ('used', 1),
 ('sensor,', 1),
 ('allowing', 1),
 ('as', 1),
 ('watch,', 1),
 ('even', 1),
 ('speaker,', 1),
 ('long', 1),
 ('telephone', 1),
 ('computer,', 1),
 ('this', 1),
 ('longer', 1),
 ('year', 1),
 ('incorporating', 1),
 ('IOT', 3),
 ('born.', 1),
 ('greatest', 1),
 ('potential', 1),
 ('exploitation', 1),
 ('have', 1),
 ('huge', 1),
 ('versions', 1),
 ('an', 1),
 ('space', 1),
 ('Internet,', 1),
 ('thus', 1),
 ('significantly', 1),
 ('reducing', 1),
 ('negative', 1),
 ('these', 1),
 ('planet.', 1),
 ('Big', 3),
 ('Data', 2),
 ('to', 9),
 ('a', 11),
 ('data', 3),
 ('that', 4),
 ('tool', 1),
 ('can', 2),
 ('handle.', 1),
 ('therefore', 1),
 ('concept', 2),
 ('allows', 1),
 ('access', 1),
 ('gigantic', 1),
 ('databases', 1),
 ('real', 1),
 ('time.', 1),
 ('main', 1),
 ('or', 5),
 ('responsiveness', 1),
 ('productivity', 1),
 ('and', 5),
 ('refine', 1),
 ('behavior,', 1),
 ('so', 1),
 ('it', 1),
 ('offer', 1),
 ('advertisements', 1),
 ('create', 1),
 ('trends.', 1),
 ('Internet', 2),
 ('physical', 2),
 ('virtual', 1),
 ('objects', 3),
 ('the', 16),
 ('often', 1),
 ('link', 1),
 ('object', 1),
 ('such', 1),
 ('drone', 1),
 ('If', 1),
 ('for', 2),
 ('time', 1),
 ('few', 1),
 ('connected', 2),
 ('were', 1),
 ('case', 1),
 ('today', 1),
 ('every', 1),
 ('types', 1),
 ('one', 1),
 ('technological', 1),
 ('revolutions', 1),
 ('our', 1),
 ('era', 1),
 ('its', 1),
 ('immense.', 1),
 ('could', 1),
 ('impact', 2),
 ('on', 3),
 ('cars', 1),
 ('future', 1),
 ('smart-cities,', 1),
 ('urban', 1),
 ('improving', 1),
 ('lives', 1),
 ('users,', 1),
 ('while', 1)]

In [21]:
textRdd.saveAsTextFile("/home/eternal/bigData/Data/outpu")

In [ ]:
#tabuler-

In [3]:
import pandas as pd
import numpy as np

from datetime import date , timedelta , datetime

from pyspark.sql.functions import *
from pyspark.sql.types import *

In [4]:
cases = spark.read.load("/home/eternal/bigData/Data/class3D/Case.csv", format = "csv",sep = ",", inferScheme = True, header = True )

In [6]:
cases.show()

+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| case_id|province|           city|group|      infection_case|confirmed| latitude| longitude|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| 1000001|   Seoul|     Yongsan-gu| TRUE|       Itaewon Clubs|      139|37.538621|126.992652|
| 1000002|   Seoul|      Gwanak-gu| TRUE|             Richway|      119| 37.48208|126.901384|
| 1000003|   Seoul|        Guro-gu| TRUE| Guro-gu Call Center|       95|37.508163|126.884387|
| 1000004|   Seoul|   Yangcheon-gu| TRUE|Yangcheon Table T...|       43|37.546061|126.874209|
| 1000005|   Seoul|      Dobong-gu| TRUE|     Day Care Center|       43|37.679422|127.044374|
| 1000006|   Seoul|        Guro-gu| TRUE|Manmin Central Ch...|       41|37.481059|126.894343|
| 1000007|   Seoul|from other city| TRUE|SMR Newly Planted...|       36|        -|         -|
| 1000008|   Seoul|  Dongdaemun-gu| TRUE|       Dongan Church|       17|37.592888|127.056766|
| 1000009|   Seoul|from other city| TRUE|Coupang Logistics...|       25|        -|         -|
| 1000010|   Seoul|      Gwanak-gu| TRUE|     Wangsung Church|       30|37.481735|126.930121|
| 1000011|   Seoul|   Eunpyeong-gu| TRUE|Eunpyeong St. Mar...|       14| 37.63369|  126.9165|
| 1000012|   Seoul|   Seongdong-gu| TRUE|    Seongdong-gu APT|       13| 37.55713|  127.0403|
| 1000013|   Seoul|      Jongno-gu| TRUE|Jongno Community ...|       10| 37.57681|   127.006|
| 1000014|   Seoul|     Gangnam-gu| TRUE|Samsung Medical C...|        7| 37.48825| 127.08559|
| 1000015|   Seoul|        Jung-gu| TRUE|Jung-gu Fashion C...|        7|37.562405|126.984377|
| 1000016|   Seoul|   Seodaemun-gu| TRUE|  Yeonana News Class|        5|37.558147|126.943799|
| 1000017|   Seoul|      Jongno-gu| TRUE|Korea Campus Crus...|        7|37.594782|126.968022|
| 1000018|   Seoul|     Gangnam-gu| TRUE|Gangnam Yeoksam-d...|        6|        -|         -|
| 1000019|   Seoul|from other city| TRUE|Daejeon door-to-d...|        1|        -|         -|
| 1000020|   Seoul|   Geumcheon-gu| TRUE|Geumcheon-gu rice...|        6|        -|         -|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
only showing top 20 rows

In [5]:
cases.limit(10).toPandas()

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Yongsan-gu,TRUE,Itaewon Clubs,139,37.538621,126.992652
1,1000002,Seoul,Gwanak-gu,TRUE,Richway,119,37.48208,126.901384
2,1000003,Seoul,Guro-gu,TRUE,Guro-gu Call Center,95,37.508163,126.884387
3,1000004,Seoul,Yangcheon-gu,TRUE,Yangcheon Table Tennis Club,43,37.546061,126.874209
4,1000005,Seoul,Dobong-gu,TRUE,Day Care Center,43,37.679422,127.044374
5,1000006,Seoul,Guro-gu,TRUE,Manmin Central Church,41,37.481059,126.894343
6,1000007,Seoul,from other city,TRUE,SMR Newly Planted Churches Group,36,-,-
7,1000008,Seoul,Dongdaemun-gu,TRUE,Dongan Church,17,37.592888,127.056766
8,1000009,Seoul,from other city,TRUE,Coupang Logistics Center,25,-,-
9,1000010,Seoul,Gwanak-gu,TRUE,Wangsung Church,30,37.481735,126.930121

In [10]:
cases.explain()

== Physical Plan ==
FileScan csv [ case_id#16,province#17,city#18,group#19,infection_case#20,confirmed#21,latitude#22,longitude#23] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/eternal/bigData/Data/class3D/Case.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct< case_id:string,province:string,city:string,group:string,infection_case:string,confirmed:s...

In [6]:
cases = cases.withColumnRenamed('infection_case', 'infection source')
cases.show()

+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| case_id|province|           city|group|    infection source|confirmed| latitude| longitude|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| 1000001|   Seoul|     Yongsan-gu| TRUE|       Itaewon Clubs|      139|37.538621|126.992652|
| 1000002|   Seoul|      Gwanak-gu| TRUE|             Richway|      119| 37.48208|126.901384|
| 1000003|   Seoul|        Guro-gu| TRUE| Guro-gu Call Center|       95|37.508163|126.884387|
| 1000004|   Seoul|   Yangcheon-gu| TRUE|Yangcheon Table T...|       43|37.546061|126.874209|
| 1000005|   Seoul|      Dobong-gu| TRUE|     Day Care Center|       43|37.679422|127.044374|
| 1000006|   Seoul|        Guro-gu| TRUE|Manmin Central Ch...|       41|37.481059|126.894343|
| 1000007|   Seoul|from other city| TRUE|SMR Newly Planted...|       36|        -|         -|
| 1000008|   Seoul|  Dongdaemun-gu| TRUE|       Dongan Church|       17|37.592888|127.056766|
| 1000009|   Seoul|from other city| TRUE|Coupang Logistics...|       25|        -|         -|
| 1000010|   Seoul|      Gwanak-gu| TRUE|     Wangsung Church|       30|37.481735|126.930121|
| 1000011|   Seoul|   Eunpyeong-gu| TRUE|Eunpyeong St. Mar...|       14| 37.63369|  126.9165|
| 1000012|   Seoul|   Seongdong-gu| TRUE|    Seongdong-gu APT|       13| 37.55713|  127.0403|
| 1000013|   Seoul|      Jongno-gu| TRUE|Jongno Community ...|       10| 37.57681|   127.006|
| 1000014|   Seoul|     Gangnam-gu| TRUE|Samsung Medical C...|        7| 37.48825| 127.08559|
| 1000015|   Seoul|        Jung-gu| TRUE|Jung-gu Fashion C...|        7|37.562405|126.984377|
| 1000016|   Seoul|   Seodaemun-gu| TRUE|  Yeonana News Class|        5|37.558147|126.943799|
| 1000017|   Seoul|      Jongno-gu| TRUE|Korea Campus Crus...|        7|37.594782|126.968022|
| 1000018|   Seoul|     Gangnam-gu| TRUE|Gangnam Yeoksam-d...|        6|        -|         -|
| 1000019|   Seoul|from other city| TRUE|Daejeon door-to-d...|        1|        -|         -|
| 1000020|   Seoul|   Geumcheon-gu| TRUE|Geumcheon-gu rice...|        6|        -|         -|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
only showing top 20 rows

In [7]:
cases = cases.toDF(*['case_id','province','city','group','infection_source','confirmed','latitude','lontitude'])

In [8]:
cases.show()

+-------+--------+---------------+-----+--------------------+---------+---------+----------+
|case_id|province|           city|group|    infection_source|confirmed| latitude| lontitude|
+-------+--------+---------------+-----+--------------------+---------+---------+----------+
|1000001|   Seoul|     Yongsan-gu| TRUE|       Itaewon Clubs|      139|37.538621|126.992652|
|1000002|   Seoul|      Gwanak-gu| TRUE|             Richway|      119| 37.48208|126.901384|
|1000003|   Seoul|        Guro-gu| TRUE| Guro-gu Call Center|       95|37.508163|126.884387|
|1000004|   Seoul|   Yangcheon-gu| TRUE|Yangcheon Table T...|       43|37.546061|126.874209|
|1000005|   Seoul|      Dobong-gu| TRUE|     Day Care Center|       43|37.679422|127.044374|
|1000006|   Seoul|        Guro-gu| TRUE|Manmin Central Ch...|       41|37.481059|126.894343|
|1000007|   Seoul|from other city| TRUE|SMR Newly Planted...|       36|        -|         -|
|1000008|   Seoul|  Dongdaemun-gu| TRUE|       Dongan Church|       17|37.592888|127.056766|
|1000009|   Seoul|from other city| TRUE|Coupang Logistics...|       25|        -|         -|
|1000010|   Seoul|      Gwanak-gu| TRUE|     Wangsung Church|       30|37.481735|126.930121|
|1000011|   Seoul|   Eunpyeong-gu| TRUE|Eunpyeong St. Mar...|       14| 37.63369|  126.9165|
|1000012|   Seoul|   Seongdong-gu| TRUE|    Seongdong-gu APT|       13| 37.55713|  127.0403|
|1000013|   Seoul|      Jongno-gu| TRUE|Jongno Community ...|       10| 37.57681|   127.006|
|1000014|   Seoul|     Gangnam-gu| TRUE|Samsung Medical C...|        7| 37.48825| 127.08559|
|1000015|   Seoul|        Jung-gu| TRUE|Jung-gu Fashion C...|        7|37.562405|126.984377|
|1000016|   Seoul|   Seodaemun-gu| TRUE|  Yeonana News Class|        5|37.558147|126.943799|
|1000017|   Seoul|      Jongno-gu| TRUE|Korea Campus Crus...|        7|37.594782|126.968022|
|1000018|   Seoul|     Gangnam-gu| TRUE|Gangnam Yeoksam-d...|        6|        -|         -|
|1000019|   Seoul|from other city| TRUE|Daejeon door-to-d...|        1|        -|         -|
|1000020|   Seoul|   Geumcheon-gu| TRUE|Geumcheon-gu rice...|        6|        -|         -|
+-------+--------+---------------+-----+--------------------+---------+---------+----------+
only showing top 20 rows

In [9]:
cases = cases.select('province','city','infection_source','confirmed')

In [10]:
cases.show()

+--------+---------------+--------------------+---------+
|province|           city|    infection_source|confirmed|
+--------+---------------+--------------------+---------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|
|   Seoul|      Gwanak-gu|             Richway|      119|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|
|   Seoul|      Dobong-gu|     Day Care Center|       43|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|
|   Seoul|from other city|SMR Newly Planted...|       36|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|
|   Seoul|from other city|Coupang Logistics...|       25|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|
|   Seoul|from other city|Daejeon door-to-d...|        1|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|
+--------+---------------+--------------------+---------+
only showing top 20 rows

In [11]:
cases.sort('confirmed').show()

+-----------------+---------------+--------------------+---------+
|         province|           city|    infection_source|confirmed|
+-----------------+---------------+--------------------+---------+
|          Jeju-do|              -|contact with patient|        0|
|       Gangwon-do|              -|contact with patient|        0|
|            Seoul|     Gangseo-gu|SJ Investment Cal...|        0|
|           Sejong|              -|                 etc|        1|
|           Sejong|from other city|  Shincheonji Church|        1|
|            Seoul|              -|         Orange Life|        1|
|            Seoul|from other city|Anyang Gunpo Past...|        1|
|            Seoul|from other city|Daejeon door-to-d...|        1|
|     Jeollabuk-do|from other city|  Shincheonji Church|        1|
|     Jeollanam-do|from other city|  Shincheonji Church|        1|
|            Seoul|     Gangnam-gu|Gangnam Dongin Ch...|        1|
|            Busan|from other city|Cheongdo Daenam H...|        1|
|          Gwangju|              -|                 etc|        1|
|          Jeju-do|from other city|       Itaewon Clubs|        1|
|      Gyeonggi-do|       Suwon-si|Suwon Saeng Myeon...|       10|
|Chungcheongnam-do|from other city|Door-to-door sale...|       10|
|       Gangwon-do|from other city|Uijeongbu St. Mar...|       10|
|            Seoul|      Jongno-gu|Jongno Community ...|       10|
| Gyeongsangnam-do|   Geochang-gun|     Geochang Church|       10|
| Gyeongsangbuk-do|        Gumi-si|    Gumi Elim Church|       10|
+-----------------+---------------+--------------------+---------+
only showing top 20 rows

In [12]:
from pyspark.sql import functions as F
cases.sort(F.desc('confirmed')).show()

+-----------------+---------------+--------------------+---------+
|         province|           city|    infection_source|confirmed|
+-----------------+---------------+--------------------+---------+
|            Seoul|        Guro-gu| Guro-gu Call Center|       95|
|            Daegu|              -|contact with patient|      917|
|          Gwangju|from other city|  Shincheonji Church|        9|
| Gyeongsangnam-do|       Jinju-si|         Wings Tower|        9|
|Chungcheongbuk-do|from other city|       Itaewon Clubs|        9|
|Chungcheongnam-do|      Seosan-si|Seosan-si Laboratory|        9|
|      Gyeonggi-do|              -|                 etc|       84|
|            Seoul|from other city|  Shincheonji Church|        8|
|           Sejong|         Sejong|gym facility in S...|        8|
| Gyeongsangnam-do|   Geochang-gun|Geochang-gun Woon...|        8|
|Chungcheongbuk-do|              -|contact with patient|        8|
|            Daegu|              -|                 etc|      747|
|            Seoul|      Jongno-gu|Korea Campus Crus...|        7|
|          Daejeon|         Seo-gu|         Orange Town|        7|
|            Seoul|        Jung-gu|Jung-gu Fashion C...|        7|
|            Ulsan|              -|                 etc|        7|
| Gyeongsangnam-do|    Changwon-si|Hanmaeum Changwon...|        7|
|            Seoul|     Gangnam-gu|Samsung Medical C...|        7|
|      Gyeonggi-do|from other city|Korea Campus Crus...|        7|
| Gyeongsangnam-do|Changnyeong-gun|Changnyeong Coin ...|        7|
+-----------------+---------------+--------------------+---------+
only showing top 20 rows

In [28]:
from pyspark.sql.types import IntegerType,DoubleType, StringType

In [29]:
cases = cases.withColumn('confirmed',F.col('confirmed').cast(IntegerType()))

In [15]:
cases.show()

+--------+---------------+--------------------+---------+
|province|           city|    infection_source|confirmed|
+--------+---------------+--------------------+---------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|
|   Seoul|      Gwanak-gu|             Richway|      119|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|
|   Seoul|      Dobong-gu|     Day Care Center|       43|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|
|   Seoul|from other city|SMR Newly Planted...|       36|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|
|   Seoul|from other city|Coupang Logistics...|       25|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|
|   Seoul|from other city|Daejeon door-to-d...|        1|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|
+--------+---------------+--------------------+---------+
only showing top 20 rows

In [16]:
cases = cases.filter((cases.confirmed > 100)&(cases.city =='Eunpyeong-gu'))
cases.show()

+--------+----+----------------+---------+
|province|city|infection_source|confirmed|
+--------+----+----------------+---------+
+--------+----+----------------+---------+

In [17]:
cases.show()

+--------+----+----------------+---------+
|province|city|infection_source|confirmed|
+--------+----+----------------+---------+
+--------+----+----------------+---------+

In [11]:
regions = spark.read.load("/home/eternal/bigData/Data/Region.csv", format = "csv",sep = ",", inferScheme = True, header = True )

In [12]:
regions.show()

+-----+--------+-------------+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
| code|province|         city| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|
+-----+--------+-------------+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|10000|   Seoul|        Seoul|37.566953|126.977977|                    607|               830|              48|         1.44|                   15.38|                5.8|             22739|
|10010|   Seoul|   Gangnam-gu|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|
|10020|   Seoul|  Gangdong-gu|37.530492|127.123837|                     27|                32|               0|         1.54|                   14.55|                5.4|              1023|
|10030|   Seoul|   Gangbuk-gu|37.639938|127.025508|                     14|                21|               0|         0.67|                   19.49|                8.5|               628|
|10040|   Seoul|   Gangseo-gu|37.551166|126.849506|                     36|                56|               1|         1.17|                   14.39|                5.7|              1080|
|10050|   Seoul|    Gwanak-gu| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|10060|   Seoul|  Gwangjin-gu|37.538712|127.082366|                     22|                33|               3|         1.16|                   13.75|                4.8|               723|
|10070|   Seoul|      Guro-gu|37.495632| 126.88765|                     26|                34|               3|            1|                   16.21|                5.7|               741|
|10080|   Seoul| Geumcheon-gu|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|
|10090|   Seoul|     Nowon-gu|37.654259|127.056294|                     42|                66|               6|         1.39|                    15.4|                7.4|               952|
|10100|   Seoul|    Dobong-gu|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|
|10110|   Seoul|Dongdaemun-gu|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|
|10120|   Seoul|   Dongjak-gu|37.510571|126.963604|                     21|                34|               3|         1.17|                   15.85|                5.2|               762|
|10130|   Seoul|      Mapo-gu|37.566283|126.901644|                     22|                24|               2|         1.83|                   14.05|                4.9|               929|
|10140|   Seoul| Seodaemun-gu|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|
|10150|   Seoul|    Seocho-gu|37.483804|127.032693|                     24|                27|               1|          2.6|                   13.39|                3.8|              1465|
|10160|   Seoul| Seongdong-gu|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|
|10170|   Seoul|  Seongbuk-gu|37.589562|  127.0167|                     29|                49|               6|         1.02|                   16.15|                  6|               729|
|10180|   Seoul|    Songpa-gu| 37.51462|127.106141|                     40|                51|               1|         1.65|                    13.1|                4.1|              1527|
|10190|   Seoul| Yangcheon-gu|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|
+-----+--------+-------------+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
only showing top 20 rows

In [15]:
regions.limit(10).toPandas()
cases = cases.join(regions, ['province','city'],how = 'left')

In [16]:
regions.limit(10).toPandas()

,code,province,city,latitude,longitude,elementary_school_count,kindergarten_count,university_count,academy_ratio,elderly_population_ratio,elderly_alone_ratio,nursing_home_count
0,10000,Seoul,Seoul,37.566953,126.977977,607,830,48,1.44,15.38,5.8,22739
1,10010,Seoul,Gangnam-gu,37.518421,127.047222,33,38,0,4.18,13.17,4.3,3088
2,10020,Seoul,Gangdong-gu,37.530492,127.123837,27,32,0,1.54,14.55,5.4,1023
3,10030,Seoul,Gangbuk-gu,37.639938,127.025508,14,21,0,0.67,19.49,8.5,628
4,10040,Seoul,Gangseo-gu,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080
5,10050,Seoul,Gwanak-gu,37.47829,126.951502,22,33,1,0.89,15.12,4.9,909
6,10060,Seoul,Gwangjin-gu,37.538712,127.082366,22,33,3,1.16,13.75,4.8,723
7,10070,Seoul,Guro-gu,37.495632,126.88765,26,34,3,1,16.21,5.7,741
8,10080,Seoul,Geumcheon-gu,37.456852,126.895229,18,19,0,0.96,16.15,6.7,475
9,10090,Seoul,Nowon-gu,37.654259,127.056294,42,66,6,1.39,15.4,7.4,952

In [17]:
cases.show()

22/02/27 16:17:55 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------+---------------+--------+-----+--------------------+---------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|province|           city| case_id|group|      infection_case|confirmed| latitude| longitude| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|
+--------+---------------+--------+-----+--------------------+---------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|   Seoul|     Yongsan-gu| 1000001| TRUE|       Itaewon Clubs|      139|37.538621|126.992652|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|
|   Seoul|      Gwanak-gu| 1000002| TRUE|             Richway|      119| 37.48208|126.901384|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|   Seoul|        Guro-gu| 1000003| TRUE| Guro-gu Call Center|       95|37.508163|126.884387|10070|37.495632| 126.88765|                     26|                34|               3|            1|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|            1|                   16.21|                5.7|               741|
|   Seoul|   Yangcheon-gu| 1000004| TRUE|Yangcheon Table T...|       43|37.546061|126.874209|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|
|   Seoul|      Dobong-gu| 1000005| TRUE|     Day Care Center|       43|37.679422|127.044374|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|
|   Seoul|        Guro-gu| 1000006| TRUE|Manmin Central Ch...|       41|37.481059|126.894343|10070|37.495632| 126.88765|                     26|                34|               3|            1|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|            1|                   16.21|                5.7|               741|
|   Seoul|from other city| 1000007| TRUE|SMR Newly Planted...|       36|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|  Dongdaemun-gu| 1000008| TRUE|       Dongan Church|       17|37.592888|127.056766|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|
|   Seoul|from other city| 1000009| TRUE|Coupang Logistics...|       25|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|      Gwanak-gu| 1000010| TRUE|     Wangsung Church|       30|37.481735|126.930121|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|   Seoul|   Eunpyeong-gu| 1000011| TRUE|Eunpyeong St. Mar...|       14| 37.63369|  126.9165|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                      17|                6.5|               874|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                      17|                6.5|               874|
|   Seoul|   Seongdong-gu| 1000012| TRUE|    Seongdong-gu APT|       13| 37.55713|  127.0403|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|
|   Seoul|      Jongno-gu| 1000013| TRUE|Jongno Community ...|       10| 37.57681|   127.006|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|
|   Seoul|     Gangnam-gu| 1000014| TRUE|Samsung Medical C...|        7| 37.48825| 127.08559|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|
|   Seoul|        Jung-gu| 1000015| TRUE|Jung-gu Fashion C...|        7|37.562405|126.984377|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|
|   Seoul|   Seodaemun-gu| 1000016| TRUE|  Yeonana News Class|        5|37.558147|126.943799|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|
|   Seoul|      Jongno-gu| 1000017| TRUE|Korea Campus Crus...|        7|37.594782|126.968022|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|
|   Seoul|     Gangnam-gu| 1000018| TRUE|Gangnam Yeoksam-d...|        6|        -|         -|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|
|   Seoul|from other city| 1000019| TRUE|Daejeon door-to-d...|        1|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|   Geumcheon-gu| 1000020| TRUE|Geumcheon-gu rice...|        6|        -|         -|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|
+--------+---------------+--------+-----+--------------------+---------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
only showing top 20 rows

In [18]:
cases.limit(10).toPandas()

,province,city,case_id,group,infection_case,confirmed,latitude,longitude,code,latitude,...,code,latitude,longitude,elementary_school_count,kindergarten_count,university_count,academy_ratio,elderly_population_ratio,elderly_alone_ratio,nursing_home_count
0,Seoul,Yongsan-gu,1000001,TRUE,Itaewon Clubs,139,37.538621,126.992652,10210,37.532768,...,10210,37.532768,126.990021,15,13,1,0.68,16.87,6.5,435
1,Seoul,Gwanak-gu,1000002,TRUE,Richway,119,37.48208,126.901384,10050,37.47829,...,10050,37.47829,126.951502,22,33,1,0.89,15.12,4.9,909
2,Seoul,Guro-gu,1000003,TRUE,Guro-gu Call Center,95,37.508163,126.884387,10070,37.495632,...,10070,37.495632,126.88765,26,34,3,1,16.21,5.7,741
3,Seoul,Yangcheon-gu,1000004,TRUE,Yangcheon Table Tennis Club,43,37.546061,126.874209,10190,37.517189,...,10190,37.517189,126.866618,30,43,0,2.26,13.55,5.5,816
4,Seoul,Dobong-gu,1000005,TRUE,Day Care Center,43,37.679422,127.044374,10100,37.668952,...,10100,37.668952,127.047082,23,26,1,0.95,17.89,7.2,485
5,Seoul,Guro-gu,1000006,TRUE,Manmin Central Church,41,37.481059,126.894343,10070,37.495632,...,10070,37.495632,126.88765,26,34,3,1,16.21,5.7,741
6,Seoul,from other city,1000007,TRUE,SMR Newly Planted Churches Group,36,-,-,None,None,...,None,None,None,None,None,None,None,None,None,None
7,Seoul,Dongdaemun-gu,1000008,TRUE,Dongan Church,17,37.592888,127.056766,10110,37.574552,...,10110,37.574552,127.039721,21,31,4,1.06,17.26,6.7,832
8,Seoul,from other city,1000009,TRUE,Coupang Logistics Center,25,-,-,None,None,...,None,None,None,None,None,None,None,None,None,None
9,Seoul,Gwanak-gu,1000010,TRUE,Wangsung Church,30,37.481735,126.930121,10050,37.47829,...,10050,37.47829,126.951502,22,33,1,0.89,15.12,4.9,909

In [19]:
import pyspark.sql.functions as F

In [20]:
caseWithNewConfirmed = cases.withColumn('NewConfirmned',200 + F.col("confirmed"))

In [22]:
caseWithNewConfirmed.show()

+--------+---------------+--------+-----+--------------------+---------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------------+
|province|           city| case_id|group|      infection_case|confirmed| latitude| longitude| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|NewConfirmned|
+--------+---------------+--------+-----+--------------------+---------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------------+
|   Seoul|     Yongsan-gu| 1000001| TRUE|       Itaewon Clubs|      139|37.538621|126.992652|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|        339.0|
|   Seoul|      Gwanak-gu| 1000002| TRUE|             Richway|      119| 37.48208|126.901384|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|        319.0|
|   Seoul|        Guro-gu| 1000003| TRUE| Guro-gu Call Center|       95|37.508163|126.884387|10070|37.495632| 126.88765|                     26|                34|               3|            1|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|            1|                   16.21|                5.7|               741|        295.0|
|   Seoul|   Yangcheon-gu| 1000004| TRUE|Yangcheon Table T...|       43|37.546061|126.874209|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|        243.0|
|   Seoul|      Dobong-gu| 1000005| TRUE|     Day Care Center|       43|37.679422|127.044374|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|        243.0|
|   Seoul|        Guro-gu| 1000006| TRUE|Manmin Central Ch...|       41|37.481059|126.894343|10070|37.495632| 126.88765|                     26|                34|               3|            1|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|            1|                   16.21|                5.7|               741|        241.0|
|   Seoul|from other city| 1000007| TRUE|SMR Newly Planted...|       36|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|        236.0|
|   Seoul|  Dongdaemun-gu| 1000008| TRUE|       Dongan Church|       17|37.592888|127.056766|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|        217.0|
|   Seoul|from other city| 1000009| TRUE|Coupang Logistics...|       25|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|        225.0|
|   Seoul|      Gwanak-gu| 1000010| TRUE|     Wangsung Church|       30|37.481735|126.930121|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|        230.0|
|   Seoul|   Eunpyeong-gu| 1000011| TRUE|Eunpyeong St. Mar...|       14| 37.63369|  126.9165|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                      17|                6.5|               874|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                      17|                6.5|               874|        214.0|
|   Seoul|   Seongdong-gu| 1000012| TRUE|    Seongdong-gu APT|       13| 37.55713|  127.0403|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|        213.0|
|   Seoul|      Jongno-gu| 1000013| TRUE|Jongno Community ...|       10| 37.57681|   127.006|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|        210.0|
|   Seoul|     Gangnam-gu| 1000014| TRUE|Samsung Medical C...|        7| 37.48825| 127.08559|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|        207.0|
|   Seoul|        Jung-gu| 1000015| TRUE|Jung-gu Fashion C...|        7|37.562405|126.984377|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|        207.0|
|   Seoul|   Seodaemun-gu| 1000016| TRUE|  Yeonana News Class|        5|37.558147|126.943799|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|        205.0|
|   Seoul|      Jongno-gu| 1000017| TRUE|Korea Campus Crus...|        7|37.594782|126.968022|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|        207.0|
|   Seoul|     Gangnam-gu| 1000018| TRUE|Gangnam Yeoksam-d...|        6|        -|         -|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|        206.0|
|   Seoul|from other city| 1000019| TRUE|Daejeon door-to-d...|        1|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|        201.0|
|   Seoul|   Geumcheon-gu| 1000020| TRUE|Geumcheon-gu rice...|        6|        -|         -|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|        206.0|
+--------+---------------+--------+-----+--------------------+---------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------------+
only showing top 20 rows

In [23]:
from pyspark.sql.types import *

In [30]:
def casesHighLow(confirmed):
    if confirmed < 50:
        return 'low'
    else:
        return 'High'



casesHighLowUdf = F.udf(casesHighLow, StringType())

casesWithHighLow = cases.withColumn('HighLow',casesHighLowUdf("confirmed"))

casesWithHighLow.show()

+--------+---------------+--------+-----+--------------------+---------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------+
|province|           city| case_id|group|      infection_case|confirmed| latitude| longitude| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|HighLow|
+--------+---------------+--------+-----+--------------------+---------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------+
|   Seoul|     Yongsan-gu| 1000001| TRUE|       Itaewon Clubs|      139|37.538621|126.992652|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|   High|
|   Seoul|      Gwanak-gu| 1000002| TRUE|             Richway|      119| 37.48208|126.901384|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|   High|
|   Seoul|        Guro-gu| 1000003| TRUE| Guro-gu Call Center|       95|37.508163|126.884387|10070|37.495632| 126.88765|                     26|                34|               3|            1|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|            1|                   16.21|                5.7|               741|   High|
|   Seoul|   Yangcheon-gu| 1000004| TRUE|Yangcheon Table T...|       43|37.546061|126.874209|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|    low|
|   Seoul|      Dobong-gu| 1000005| TRUE|     Day Care Center|       43|37.679422|127.044374|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|    low|
|   Seoul|        Guro-gu| 1000006| TRUE|Manmin Central Ch...|       41|37.481059|126.894343|10070|37.495632| 126.88765|                     26|                34|               3|            1|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|            1|                   16.21|                5.7|               741|    low|
|   Seoul|from other city| 1000007| TRUE|SMR Newly Planted...|       36|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|    low|
|   Seoul|  Dongdaemun-gu| 1000008| TRUE|       Dongan Church|       17|37.592888|127.056766|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|    low|
|   Seoul|from other city| 1000009| TRUE|Coupang Logistics...|       25|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|    low|
|   Seoul|      Gwanak-gu| 1000010| TRUE|     Wangsung Church|       30|37.481735|126.930121|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|    low|
|   Seoul|   Eunpyeong-gu| 1000011| TRUE|Eunpyeong St. Mar...|       14| 37.63369|  126.9165|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                      17|                6.5|               874|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                      17|                6.5|               874|    low|
|   Seoul|   Seongdong-gu| 1000012| TRUE|    Seongdong-gu APT|       13| 37.55713|  127.0403|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|    low|
|   Seoul|      Jongno-gu| 1000013| TRUE|Jongno Community ...|       10| 37.57681|   127.006|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|    low|
|   Seoul|     Gangnam-gu| 1000014| TRUE|Samsung Medical C...|        7| 37.48825| 127.08559|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|    low|
|   Seoul|        Jung-gu| 1000015| TRUE|Jung-gu Fashion C...|        7|37.562405|126.984377|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|    low|
|   Seoul|   Seodaemun-gu| 1000016| TRUE|  Yeonana News Class|        5|37.558147|126.943799|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|    low|
|   Seoul|      Jongno-gu| 1000017| TRUE|Korea Campus Crus...|        7|37.594782|126.968022|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|    low|
|   Seoul|     Gangnam-gu| 1000018| TRUE|Gangnam Yeoksam-d...|        6|        -|         -|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|    low|
|   Seoul|from other city| 1000019| TRUE|Daejeon door-to-d...|        1|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|    low|
|   Seoul|   Geumcheon-gu| 1000020| TRUE|Geumcheon-gu rice...|        6|        -|         -|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|    low|
+--------+---------------+--------+-----+--------------------+---------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------+
only showing top 20 rows

In [31]:
cases.printSchema()

root
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |--  case_id: string (nullable = true)
 |-- group: string (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- confirmed: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- code: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- elementary_school_count: string (nullable = true)
 |-- kindergarten_count: string (nullable = true)
 |-- university_count: string (nullable = true)
 |-- academy_ratio: string (nullable = true)
 |-- elderly_population_ratio: string (nullable = true)
 |-- elderly_alone_ratio: string (nullable = true)
 |-- nursing_home_count: string (nullable = true)
 |-- code: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- elementary_school_count: string (nullable = true)
 |-- kindergarten_count: string (nullable = true)
 |-- university_count: string (nullable = true)
 |-- academy_ratio: string (nullable = true)
 |-- elderly_population_ratio: string (nullable = true)
 |-- elderly_alone_ratio: string (nullable = true)
 |-- nursing_home_count: string (nullable = true)

In [33]:
regions.printSchema()

root
 |-- code: string (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- elementary_school_count: string (nullable = true)
 |-- kindergarten_count: string (nullable = true)
 |-- university_count: string (nullable = true)
 |-- academy_ratio: string (nullable = true)
 |-- elderly_population_ratio: string (nullable = true)
 |-- elderly_alone_ratio: string (nullable = true)
 |-- nursing_home_count: string (nullable = true)

In [34]:
timeprovince = spark.read.load("/home/eternal/bigData/Data/TimeProvince.csv", format = "csv",sep = ",", inferScheme = True, header = True )

In [35]:
timeprovince.show()

+----------+----+-----------------+---------+--------+--------+
|      date|time|         province|confirmed|released|deceased|
+----------+----+-----------------+---------+--------+--------+
|2020-01-20|  16|            Seoul|        0|       0|       0|
|2020-01-20|  16|            Busan|        0|       0|       0|
|2020-01-20|  16|            Daegu|        0|       0|       0|
|2020-01-20|  16|          Incheon|        1|       0|       0|
|2020-01-20|  16|          Gwangju|        0|       0|       0|
|2020-01-20|  16|          Daejeon|        0|       0|       0|
|2020-01-20|  16|            Ulsan|        0|       0|       0|
|2020-01-20|  16|           Sejong|        0|       0|       0|
|2020-01-20|  16|      Gyeonggi-do|        0|       0|       0|
|2020-01-20|  16|       Gangwon-do|        0|       0|       0|
|2020-01-20|  16|Chungcheongbuk-do|        0|       0|       0|
|2020-01-20|  16|Chungcheongnam-do|        0|       0|       0|
|2020-01-20|  16|     Jeollabuk-do|        0|       0|       0|
|2020-01-20|  16|     Jeollanam-do|        0|       0|       0|
|2020-01-20|  16| Gyeongsangbuk-do|        0|       0|       0|
|2020-01-20|  16| Gyeongsangnam-do|        0|       0|       0|
|2020-01-20|  16|          Jeju-do|        0|       0|       0|
|2020-01-21|  16|            Seoul|        0|       0|       0|
|2020-01-21|  16|            Busan|        0|       0|       0|
|2020-01-21|  16|            Daegu|        0|       0|       0|
+----------+----+-----------------+---------+--------+--------+
only showing top 20 rows

In [38]:
from pyspark.sql.window import Window
windowFrame = Window().partitionBy(["province"]).orderBy("Date")
timeProvincingwithLag = timeprovince.withColumn("lag_7",F.lag("confirmed",7).over(windowFrame))
timeProvincingwithLag.show()

+----------+----+--------+---------+--------+--------+-----+
|      date|time|province|confirmed|released|deceased|lag_7|
+----------+----+--------+---------+--------+--------+-----+
|2020-01-20|  16|   Busan|        0|       0|       0| null|
|2020-01-21|  16|   Busan|        0|       0|       0| null|
|2020-01-22|  16|   Busan|        0|       0|       0| null|
|2020-01-23|  16|   Busan|        0|       0|       0| null|
|2020-01-24|  16|   Busan|        0|       0|       0| null|
|2020-01-25|  16|   Busan|        0|       0|       0| null|
|2020-01-26|  16|   Busan|        0|       0|       0| null|
|2020-01-27|  16|   Busan|        0|       0|       0|    0|
|2020-01-28|  16|   Busan|        0|       0|       0|    0|
|2020-01-29|  16|   Busan|        0|       0|       0|    0|
|2020-01-30|  16|   Busan|        0|       0|       0|    0|
|2020-01-31|  16|   Busan|        0|       0|       0|    0|
|2020-02-01|  16|   Busan|        0|       0|       0|    0|
|2020-02-02|  16|   Busan|        0|       0|       0|    0|
|2020-02-03|  16|   Busan|        0|       0|       0|    0|
|2020-02-04|  16|   Busan|        0|       0|       0|    0|
|2020-02-05|  16|   Busan|        0|       0|       0|    0|
|2020-02-06|  16|   Busan|        0|       0|       0|    0|
|2020-02-07|  16|   Busan|        0|       0|       0|    0|
|2020-02-08|  16|   Busan|        0|       0|       0|    0|
+----------+----+--------+---------+--------+--------+-----+
only showing top 20 rows

In [41]:
timeProvincingwithLag.filter(timeProvincingwithLag.date>'2020-03-10').show()

+----------+----+--------+---------+--------+--------+-----+
|      date|time|province|confirmed|released|deceased|lag_7|
+----------+----+--------+---------+--------+--------+-----+
|2020-03-11|   0|   Busan|       98|      21|       0|   92|
|2020-03-12|   0|   Busan|       99|      29|       0|   92|
|2020-03-13|   0|   Busan|      100|      36|       0|   95|
|2020-03-14|   0|   Busan|      103|      40|       0|   96|
|2020-03-15|   0|   Busan|      106|      52|       1|   96|
|2020-03-16|   0|   Busan|      107|      53|       1|   96|
|2020-03-17|   0|   Busan|      107|      54|       1|   96|
|2020-03-18|   0|   Busan|      107|      58|       1|   98|
|2020-03-19|   0|   Busan|      107|      58|       1|   99|
|2020-03-20|   0|   Busan|      108|      60|       1|  100|
|2020-03-21|   0|   Busan|      108|      67|       1|  103|
|2020-03-22|   0|   Busan|      108|      69|       1|  106|
|2020-03-23|   0|   Busan|      109|      71|       1|  107|
|2020-03-24|   0|   Busan|      111|      71|       1|  107|
|2020-03-25|   0|   Busan|      112|      73|       1|  107|
|2020-03-26|   0|   Busan|      112|      75|       2|  107|
|2020-03-27|   0|   Busan|      113|      81|       2|  108|
|2020-03-28|   0|   Busan|      114|      81|       2|  108|
|2020-03-29|   0|   Busan|      117|      85|       3|  108|
|2020-03-30|   0|   Busan|      118|      87|       3|  109|
+----------+----+--------+---------+--------+--------+-----+
only showing top 20 rows